*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
restopicer-data/sample_data/restopicer_origin.sql
restopicer-data/sample_data/restopicer_resource_info.sql
restopicer-data/es_indexing/bulkblock/.idea/
*.iml
restopicer-research/LinkTopicModel/document/
*.Rhistory
*.Rproj
restopicer-research/LinkTopicModel/LTM_doc/
restopicer-research/probabilisticLinkTopicModel/pLTM_doc/
.Rproj.user
restopicer-research/LinkTopicModel/output/
restopicer-research/CoTermNetworkLinkTopicModel/document/
restopicer-research/CoTermNetworkLinkTopicModel/output/
restopicer-research/CoTermNetworkLinkTopicModel/LTM_doc/
restopicer-research/CoTermNetworkLinkTopicModel/.RData
restopicer-research/RCitationEvolution/.RData
restopicer-research/NetworkBasedTopicModel/.RData
restopicer-research/NetworkBasedTopicModel/output/demo_LDA_keyword/document_topic/
restopicer-research/NetworkBasedTopicModel/output/
restopicer-research/NetworkBasedTopicModel/document/
restopicer-research/NetworkBasedTopicModel/LTM_doc/
restopicer-research/NetworkBasedTopicModel/rdata/research_20Year_1994_2013.RData
restopicer-research/NetworkBasedTopicModel/linkcomm_diss.txt
restopicer-research/NetworkBasedTopicModel/temp
restopicer-research/NetworkBasedTopicModel/linkcomm_diss
restopicer-research/NetworkBasedTopicModel/rdata/research_20Year_1994_2013_10magazines.RData
restopicer-research/NetworkBasedTopicModel/rdata/research2013_10magzines.RData
restopicer-research/NetworkBasedTopicModel/rdata/tmp/fc.RData
restopicer-research/NetworkBasedTopicModel/rdata/result_LDA_keywords_gibbs.RData
restopicer-research/NetworkBasedTopicModel/rdata/result_LDA_abstarct_VEM.RData
restopicer-research/NetworkBasedTopicModel/rdata/result_LDA_abstarct_gibbs.RData
restopicer-research/NetworkBasedTopicModel/rdata/result_LDA_keywords_VEM.RData
restopicer-research/NetworkBasedTopicModel/rdata/result_fastgreedy.RData
restopicer-research/NetworkBasedTopicModel/rdata/research2013/
restopicer-research/NetworkBasedTopicModel/rdata/tmp/lc.RData
restopicer-research/NetworkBasedTopicModel/rdata/tmp/
restopicer-research/NetworkBasedTopicModel/rdata/research_20Ys/
restopicer-research/NetworkBasedTopicModel/rdata/research_2011_2011.RData
restopicer-research/NetworkBasedTopicModel/rdata/
restopicer-research/NetworkBasedTopicModel/*-leaveoneout.RData
